aioice==0.10.2
aiortc==1.14.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
av==16.1.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
cryptography==46.0.6
deepframe==0.1.2
deeplake==4.5.10
dnspython==2.8.0
dotenv==0.9.9
fastapi==0.135.2
google-crc32c==1.8.0
h11==0.16.0
httptools==0.7.1
idna==3.11
ifaddr==0.2.0
numpy==2.4.4
opencv-python-headless==4.13.0.92
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pyee==13.0.1
pylibsrtp==1.0.0
pyOpenSSL==26.0.0
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.33.0
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.42.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
